<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>In The Cards</title>
</head>
<body>
   <div class="container">
       <h1 class="mb-4">Card Readings</h1>
       <a href="/readings/new" class="btn btn-success">New Reading</a>

       <% readings.forEach(readings => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"> <%= readings.title %> </h4>
                        <div class="card-subtitle text-muted mb-2">
                            <%= readings.createdAt.toLocaleDateString() %>
                        </div>
                        <div class="card-text mb-2">
                            <%= readings.description %>
                        </div>
            </div>
    </div>
                

       <% }) %>
   </div>
    <!-- <h1><%= readings %></h1> -->
</body>
</html>